.content-main{
    float: left;
    width: 822px;
    margin: 10px 0 10px 10px;
    border: 2px solid #74534b;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #74534b;
    min-height: 350px;
}
.content-main-title{
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #74534b;
    
}
.myInfo-content{
    width: 822px;
    height: 75px;
    border-bottom: 1px solid grey;
}
.myInfo-content div{
    float: left;
    
}
.myInfo-content-title{
    width: 100px;
    line-height: 75px;
    text-align: center;
    font-weight: bold;
}
.myInfo-content-content{
    width: 600px;
    
    padding-left: 50px;
    line-height: 75px;
    overflow: hidden;
}

#title{
    font-size: 24px;
    height: 30px;
    width: 550px;
}

#subTitle{
    color: grey;
    font-size: 16px;
    height: 30px;
    width: 550px;
}
#author{
    margin-right: 24px;
}
.myInfo-content-content > select{
    width: 130px;
}
.myInfo-content-content > textarea{
    width: 550px;
    height: 180px;
    resize: none;
    margin-top: 25px;
    
}
.textarea{
    height: 240px;
}
.myInfo-content-title > button{
    border: 1px solid rgb(177, 175, 175);
    background-color: white;
    width: 100px;
    height: 30px;
    width: 600px;
    margin-left: 100px;
}

.form-button{
    border: 1px solid rgb(177, 175, 175);
    background-color: white;
    width: 100px;
    height: 30px;
    margin-top: 22.5px;
}