
.content-main{
    float: left;
    width: 822px;
    margin: 10px 0 10px 10px;
    border: 2px solid #74534b;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #74534b;
    min-height: 200px;
}
.content-main-title{
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #74534b;
    
}
.content-main-content{
    padding: 20px;
    margin-top: 20px;  
}
.content-main-content > form > input[type="password"],
.content-main-content > form > input[type="text"]{
    
    margin: 0 10px;
    left: 100px;
}
.content-main-content input[type="submit"],
.content-main-content input[type="button"]{
    background-color: #74534b;
    color: white;
    border: none;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}

