<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ImageMapper">

    <insert id="insertPubImage">
        insert into IMAGE_PUB_TB(name, path, type, file_size, image_list_oid, pub_oid)
        values (#{name}, #{path}, #{type}, #{fileSize}, #{imageListOid}, #{pubOid})
    </insert>

    <insert id="insertProductImage">
        insert into IMAGE_PRODUCT_TB(name, path, type, file_size, image_list_oid, product_oid)
        values (#{name}, #{path}, #{type}, #{fileSize}, #{imageListOid}, #{productOid})
    </insert>

    <select id="readPubImage" resultType="org.zerock.domain.ImagePubVO">
        select * from IMAGE_PUB_TB where pub_oid = #{pubOid}
    </select>

</mapper>