<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ProductMapper">

    <insert id="insert">
        <selectKey keyProperty="oid" order="BEFORE" resultType= "Integer">
            select product_seq.nextval from dual
        </selectKey>
        insert into product_tb(oid, title, description, price, delivery_fee, reg_date, pub_oid, category_oid,
        sub_title, contents, author_oid)
        values (#{oid}, #{title}, #{description}, #{price}, #{deliveryFee}, sysdate, #{pubOid}, #{categoryOid},
        #{subTitle}, #{contents}, #{authorOid})
    </insert>

    <select id="readAccordingToPubOid" resultType="org.zerock.domain.ProductVO">
        select * from product_tb where pub_oid = #{pubOid}
    </select>

    <select id="read" resultType="org.zerock.domain.ProductVO">
        select * from product_tb where oid = #{oid}
    </select>

    <update id="update">
        update product_tb
        set title = #{title},
            description = #{description},
            price = #{price},
            delivery_fee = #{deliveryFee},
            pub_oid =  #{pubOid},
            category_oid = #{categoryOid},
            sub_title= #{subTitle},
            contents = #{contents},
            author_oid = #{authorOid}
        where oid = #{oid}
    </update>

    <select id="newBookLayer" resultType="org.zerock.domain.ProductVO">
        select *
        from (
                 select a.oid, a.title, a.price, b.path as rep_uri, c.path as desc_uri, d.name as author_name
                 from product_tb a,
                      image_product_tb b,
                      image_product_tb c,
                      author_tb d
                 where (a.oid = b.product_oid AND b.image_list_oid = 2)
                   and (a.oid = c.product_oid AND c.image_list_oid = 3)
                   and (a.author_oid = d.oid)
                 order by a.reg_date desc
             )
        where rownum &lt;= #{num}
    </select>

    <select id="readSpecProduct" resultType="org.zerock.dto.ProductViewDTO">
        select a.oid, a.title, a.sub_title, a.price, a.delivery_fee, a.description, a.contents, b.name as author_name, b.description as author_desc ,
               c.name as pub_name, d.path as rep_uri, e.path as desc_uri, f.name as category_name
        from product_tb a,
             author_tb b,
             pub_tb c,
             image_product_tb d,
             image_product_tb e,
             category_tb f
        where (a.oid = #{oid}) and (a.author_oid = b.oid) and (a.pub_oid = c.oid)
          and (a.oid = d.product_oid AND d.image_list_oid = 2)
          and (a.oid = e.product_oid AND e.image_list_oid = 3)
          and (a.category_oid = f.oid)
    </select>

</mapper>