<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PubMapper">

    <insert id="insert">
        <selectKey keyProperty="oid" order="BEFORE" resultType= "Integer">
            select ifnull(MAX(oid) + 1,1) from PUB_TB
        </selectKey>
        insert into PUB_TB(oid, name, description, user_email)
        values (#{oid}, #{name}, #{description}, #{userEmail})
    </insert>

    <select id="read" resultType="org.zerock.domain.PubVO">
        select * from PUB_TB where oid = #{oid}
    </select>

    <select id="readAccordingToUserEmail" resultType="org.zerock.domain.PubVO">
        select * from PUB_TB where user_email = #{userEmail}
    </select>

    <delete id="delete">
        delete from PUB_TB where user_email = #{userEmail}
    </delete>

    <update id="update">
        update PUB_TB
        set name = #{name},
            description = #{description},
            user_email = #{userEmail}
        where oid = #{oid}
    </update>

</mapper>