<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.TokenMapper">

    <insert id="insert">
        insert into TOKEN_TB(refresh_token, refresh_duration, reg_date)
        values (#{refreshToken}, #{refreshDuration}, NOW())
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="oid" order="BEFORE" resultType= "Integer">
            select ifnull(MAX(oid) + 1,1) from TOKEN_TB
        </selectKey>
        insert into TOKEN_TB(oid, refresh_token, refresh_duration, reg_date)
        values (#{oid}, #{refreshToken}, #{refreshDuration}, NOW())
    </insert>

    <select id="read" resultType="org.zerock.domain.TokenVO">
        select * from TOKEN_TB where oid = #{oid}
    </select>

</mapper>