<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.UserMapper">

    <insert id="insert">
        insert into USER_TB(email, pw, gender, birth, phone, platform, reg_date, type)
        values (#{email}, #{pw}, #{gender}, #{birth}, #{phone}, 'local', NOW(), 1)
    </insert>

    <insert id="kakaoInsert">
        insert into USER_TB(email, gender, birth, platform, reg_date, type)
        values (#{email}, #{gender}, #{birth}, 'kakao', NOW(), 1)
    </insert>

    <select id="read" resultType="org.zerock.domain.UserVO">
        select * from USER_TB where email = #{email}
    </select>

    <update id="updatePw">
        update USER_TB
        set pw = #{pw}
        where email = #{email}
    </update>
    <update id="updatePhone">
        update USER_TB
        set phone = #{phone}
        where email = #{email}
    </update>
    <update id="updateGender">
        update USER_TB
        set gender = #{gender}
        where email = #{email}
    </update>
    <update id="updateBirth">
        update USER_TB
        set birth = #{birth}
        where email = #{email}
    </update>

</mapper>